*{
    margin: 0px;
    padding: 0px;
}

.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    
}

#logo{
    width: 70px;
    height: auto;
    margin: 12px 24px
}


li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

a{
    text-decoration: none;
    color: rgb(23, 98, 104);
}

#starbuck{
    /* position: relative; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set{
    width: 503px;
    height: auto;
    margin-left: 70px;
}

h2{
    font-size: 36px;
}

p{
    margin-top: 44px;
}

.img1{
    width: 200px;
    height: 500px;
    margin-right: 100px;
}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    

}

#img li:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.3s;
}